footer {
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link,
.footer__name {
  font-weight: var(--fw-bold);
  color: var(--clr-light);
}

.footer-import-app {
  background: var(--clr-import);
  color: var(--clr-import-blue);
}

.footer__import-name {
  color: var(--clr-import-blue);
}

.footer__guestcheck {
  background: var(--clr-dark);
  color: var(--clr-accent);
}

.footer__guestcheck-name {
  color: var(--clr-accent);
}

.social-list__link {
  padding: 0.5em;
  color: #000;
}

.footer__imprint {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    border-top: 1px solid var(--clr-light);
    width: 250px;
    display: inline-block;
    margin-bottom: 2.5em;
    opacity: 0.25;
  }
}

.footer__imprint-geustcheck {
  &::before {
    border-top: 1px solid var(--clr-accent);
  }
}

.footer__link:hover,
.social-list__link:hover,
.footer__imprint:hover,
.foter__data-protection:hover {
  opacity: 0.7;
}

.footer__link:hover,
.footer__imprint:hover,
.footer__data-protection:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0 0 2em 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.fab,
.fa-xing-square {
  font-size: var(--fs-h2);
}
