.imprint > * {
  grid-column: 2 / -2;
}

.imprint {
  padding: 6em 2em 3em 2em;
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
  grid-gap: 1em;

  h2 {
    margin-top: 1em;
    font-size: 1.25rem;
  }

  h3 {
    margin-top: 1em;
  }

  p {
    margin: 0.5em 0 0.5em 0;
  }

  h2,
  h3,
  p {
    min-height: 0;
  }
}

@media (min-width: 768px) {
  .imprint {
    grid-template-columns:
      minmax(1em, 1fr) repeat(3, minmax(20px, 370px))
      minmax(1em, 1fr);
  }
}
