.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

.section__subtitle--wik {
  color: var(--clr-accent);
  background: var(--clr-dark);
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Individual portfolio item styles */

.portfolio-item__title {
  margin-bottom: 0.5em;
}

.portfolio-item__subtitle {
  background: var(--clr-import);
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.portfolio-item-individual p {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 1em;
  margin: 3em 0;
}

.portfolio-item__image {
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  &:last-child {
    margin-bottom: 0;
  }
}

.portfolio-item__list--title {
  margin-top: 4em;
}

.fa-check-square {
  font-size: 0.9rem;
  color: var(--clr-import-blue);
}

.fa-check-guestcheck {
  color: var(--clr-guestcheck);
}

.fa-check-wik {
  color: var(--clr-wik);
}

.portfolio-item__list {
  list-style: none;
  transform: translateX(-2%);
  margin-bottom: 4em;
}

.portfolio-item__cta {
  margin-bottom: 4em;
  font-weight: 900;
}

.portfolio-intro__image--easyimp {
  box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  border-radius: 45px;
}

.intro__image-guestcheck {
  box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.portfolio-item-individual__image {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.guestcheck-link {
  color: var(--clr-guestcheck);
}

.wik-link {
  color: var(--clr-wik);
}

.guestcheck-link,
.wik-link {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }

  .guestcheck-link__title,
  .wik-link {
    margin-bottom: 2em;
  }
}

@media (max-width: 360px) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 auto;
  }

  .portfolio-item__list {
    transform: translateX(-6%);
  }

  .portfolio-intro__image--easyimp {
    border-radius: 30px;
  }
}

@media (min-width: 361px) {
  .portfolio-item__list {
    transform: translateX(-5%);
  }
}

@media (min-width: 450px) {
  .portfolio-item__list {
    transform: translateX(-3%);
  }

  .portfolio-intro__image--easyimp {
    border-radius: 55px;
  }
}

@media (min-width: 600px) {
  .portfolio-item__image-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 3em 0;
  }

  .portfolio-item__image {
    max-width: 125px;
    margin: 1em 0;

    &:last-child {
      margin: 1em 0;
    }
  }

  .portfolio-item__list {
    transform: translateX(-2.75%);
  }

  .portfolio-intro__image--easyimp {
    border-radius: 35px;
  }
}

@media (min-width: 660px) {
  .portfolio__item {
    height: 250px;
  }

  .portfolio__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 700px) {
  .portfolio-item__image {
    max-width: 150px;
  }
}

@media (min-width: 900px) {
  .portfolio-item__list {
    transform: translateX(-2%);
  }

  .portfolio-item__image {
    max-width: 200px;
  }
}

@media (min-width: 1024) {
  .portfolio-item__image {
    max-width: 250px;
  }
}
