.image-section {
    display: flex;
    justify-content: center;
    background-image: url("../../docs/images/profile1.jpg"); 
    color: blue;
    background-size: cover;
    background-position: center;
    height: 50vh;
    //border-radius: 50px;
}

.image-section__p {
    color: white;
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
}

