.header {
   background-color: salmon;
   color: white;
   font-family: sans-serif;  
   margin: 20px;
   padding: 20px;
   //background-image: url("../images/profile.jpg"); 
}

h1 {
    font-weight: 900;
}

header__a {
    text-decoration: none;
}



